<div class="container-fluid container-top" style="">

<div class="container">
<p id="notice"><%= notice %></p>
<div class="row m-b-xs">
    <div class="col-lg-12 text-right">
      <%= link_to 'Nova nota', new_user_note_path(current_user), class:"btn btn-sm w-150 m-b-md btn-primary m-t-xs" %>
        
    </div>
    
  </div>


<div class="table-responsive project-list">
<table class="table white-bg border-left-right border-top-bottom table-icons">
  <thead>
    
    <tr>
      <th> Título</th>
      <th> Descrição</th>
      <th class="actions">Acções</th>
      
    </tr>
  </thead>

  <tbody>
     <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td> <%= note.description.truncate(100) %></td>
        <td><%= link_to "<i class='fa fa-folder-open icon-chat' style='font-size: 19px' title='Show'></i>".html_safe, note_path(note) %>
        <%= link_to "<i class='fa fa-edit icon-chat' style='font-size: 19px' title='edit'></i>".html_safe, edit_note_path(note) %>
        <%= link_to "<i class='fa fa-trash icon-chat' style='font-size: 19px' title='Destroy'></i>".html_safe, note, method: :delete, data: { confirm: 'Deseja prosseguir com esta acção?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

