<div class="container-fluid container-top" style="">

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row m-b-xs">
    <div class="col-lg-12">
      
        <%= link_to 'View my cases', clinical_cases_path({me: true}), class:"btn btn-primary m-t-xs" %>
        <%= link_to 'New Clinical Case', new_clinical_case_path, class:"btn btn-primary m-t-xs pull-right" %>
        
        
    </div>
    
  </div>
  



<div class="table-responsive project-list">
<table class="table white-bg border-left-right border-top-bottom table-icons">
  <thead>
    
    <tr>
      <th> Uniuqe Identifier</th>
      <th> User</th>
      <th class="actions">Actions</th>
      
    </tr>
  </thead>

  <tbody>
    <% counter = 1 %>
    <% @clinical_cases.each do |clinical_case| %>
      <tr>
        <td><%= clinical_case.unique_identifier  %></td>
        <td> <%= clinical_case.user.name %></td>
        <td><%= link_to '<i class="far fa-folder-open icon-chat" title="Show"></i>'.html_safe, clinical_case, class:"" %>
        <%= link_to '<i class="fas fa-edit icon-chat" title="Edit"></i>'.html_safe, edit_clinical_case_path(clinical_case) , class:"" if can? :update, clinical_case %>
        <%= link_to '<i class="far fa-trash-alt icon-danger" title="Delete"></i>'.html_safe, clinical_case, method: :delete, data: { confirm: 'Are you sure?'}, class:""  if can? :destroy, clinical_case %>
        <%= link_to '<i class="far fa-save icon-chat" title="Download in Excel"></i>'.html_safe, clinical_case_path(clinical_case,format: "xls"), class:"" %>
        </td>
        <% counter = counter + 1 %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

