<div class="container-fluid container-top" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Login</h5>
    </div>
    <div class="ibox-content">
        <%= form_for(resource, as: resource_name,  url: session_path(resource_name),class:"form-horizontal") do |f| %>
            <p>Sign in today for more expirience.</p>
            <div class="form-group row"><label class="col-lg-2 control-label">Email</label>

                <div class="col-lg-10"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                </div>
            </div>
            <div class="form-group row"><label class="col-lg-2 control-label">Password</label>

                <div class="col-lg-10"><%= f.password_field :password, autocomplete: "off" , class:"form-control" %></div>
            </div>
            <div class="form-group row">
                <div class="col-lg-offset-2 col-lg-10">
                  <% if devise_mapping.rememberable? -%>
                    <div class="i-checks">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit "Log in", class:"btn btn-primary" %>
                </div>
            </div>
        <% end %>
    </div>
  </div>
      </div>
    </div>
    
  <%= render "users/shared/links" %>
  </div>
  
</div>
  



