<div class="container-fluid container-top" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Editar perfil</h5>
          </div>
          <div class="ibox-content">
              <%= form_for @user, class: "form-horizontal" do |f| %>
                  <div class="form-group row">
                      <%= f.label :name, class:"col-lg-2 control-label" %>
      
                      <div class="col-lg-10">
                           <%= f.text_field :name, class:"form-control" %>
                      </div>
                  </div>
                  <div class="form-group row">
                      <%= f.label :gender, class:"col-lg-2 control-label" %>
                      <div class="col-lg-10">
                           <%= f.select(:gender, ["Masculino","Feminino"], { prompt: "Seleccione o género" }) %>
                          
                      </div>
                  </div>
                  <div class="form-group row">
                        <%= f.label :about_me, class:"col-lg-2 control-label" %>
                      <div class="col-lg-10">
                        <%= f.text_area :about_me, class: "form-control"%>
                      </div>
                  </div>
                  <div class="form-group row">
                       <%= f.label :user_type, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= @user.user_type %>
                    </div>
                  </div>
                  <div class="form-group row">
                       <%= f.label :role, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <p><%=User.human_attribute_name("role.#{current_user.role}")%></p>
                    </div>
                  </div>
                  <div class="form-group row">
                      <%= f.label :organization, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                         <%= f.text_field :organization, class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-group row">
                       <%= f.label :profile_picture, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                                
                            <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new" style="font-size: 12px">Seleccionar imagem</span>
                                <span class="fileinput-exists">Alterar</span>
                                <%= f.file_field :profile_picture %>
                            </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div> 
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-offset-2 col-lg-10 m-b-sm">
                          <%= image_tag(@user.profile_picture.url(:thumb) ) if @user.persisted? and @user.profile_picture.exists? %>
                        </div>
                  </div>
                  <div class="form-group row">
                      <%= f.label :email, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10 m-t-sm">
                         <p><%=@user.email%></p>
                    </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-offset-2 col-lg-10">
                          <%= link_to "Voltar", profile_user_path(current_user), class:"btn btn-sm btn-default w-150" %>
                          <%= f.submit "Actualizar", class:"btn btn-sm btn-primary w-150 pull-right" %>
                      </div>
                  </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</div>
