<div class="container-fluid container-top" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Edit Profile</h5>
          </div>
          <div class="ibox-content">
              <%= form_for @user, class: "form-horizontal" do |f| %>
                  <div class="form-group row">
                      <%= f.label :name, class:"col-lg-2 control-label" %>
      
                      <div class="col-lg-10">
                           <%= f.text_field :name, class:"form-control" %>
                      </div>
                  </div>
                  <div class="form-group row">
                      <%= f.label :gender, class:"col-lg-2 control-label" %>
                      <div class="col-lg-10">
                           <%= f.select(:gender, ["Male","Female"], { prompt: "Please Select Gender" }) %>
                          
                      </div>
                  </div>
                  <div class="form-group row">
                        <%= f.label :about_me, class:"col-lg-2 control-label" %>
                      <div class="col-lg-10">
                        <%= f.text_area :about_me, class: "form-control"%>
                      </div>
                  </div>
                   <div class="form-group row">
                       <%= f.label :user_type, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <%= f.select(:user_type, ["Medic","Researcher","Other"], { prompt: "Please Select User Type" }) %>
                    </div>
                  </div>
                  <div class="form-group row">
                      <%= f.label :organization, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                         <%= f.text_field :organization, class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-group row">
                       <%= f.label :profile_picture, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                                
                            <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <%= f.file_field :profile_picture %>
                            </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div> 
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-offset-2 col-lg-10 m-b-sm">
                          <%= image_tag(@user.profile_picture.url(:thumb) ) if @user.persisted? and @user.profile_picture.exists? %>
                        </div>
                  </div>
                  <div class="form-group row">
                      <%= f.label :email, class: "col-lg-2 control-label" %>
                    <div class="col-lg-10">
                         <%= f.text_field :email, class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-offset-2 col-lg-10">
                          <%= f.submit "Update", class:"btn btn-primary" %>
                      </div>
                  </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</div>
