<div class="container-fluid container-top" style="">

<div class="container">
<% if current_user.admin? %>
        <div class="row">
            
            <div class="table-responsive user-list">
              <table class="table white-bg border-left-right border-top-bottom">
                <thead>
                  <tr class="bg-primary">
                    <!--<th>#</th>-->
                    <th>Nome</th>
                    <th>Nível de permissões</th>
                    <th>Email</th>
                    <th class="actions">Acções</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% User.all.sort_by{|user| user.approved ? 1 : 0 }.each do |user| %>
                        <tr>
                            <td> <%= user.name %> </td>
                            <td> <%=User.human_attribute_name("role.#{user.role}")%></td>
                            <td> <%= user.email %> </td>
                            <td><%= link_to 'Remover', user, method: :delete, data: { confirm: 'Deseja prosseguir com esta acção?' },class: 'btn btn-sm btn-outline w-150' if can? :destroy, user %></td>
                            <td> <%= link_to (user.approved ? 'Suspender':'Aprovar'),approve_user_path({user_id: user.id,approved: !user.approved}),method: :put, class: "btn btn-sm btn-outline w-150 btn-#{user.approved ? 'danger':'primary'}"  if not current_user.id==user.id %> </td>
                        </tr>
                    <% end %>
                  
                </tbody>
              </table>
            </div>
          <!--</main>-->
        </div>
      </div>
    <% end %>
    </div>
</div> 
