
    

<div class="container-fluid container-top">  
<% total = "(N=#{ClinicalCase.count})" %>

<div class="container" style="width:90%;">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-3">
            <div class="ibox-content text-center usr-bg">
                <h1 class="set-set"><%= current_user.name %></h1>
                <div class="m-b-sm">
                        <!--<img alt="image" class="img-circle" src="/a8.jpg">-->
                        <%= image_tag(current_user.profile_picture.url(:thumb),:class => 'img-circle',alt:"image") %>
                </div>
                        <p class="font-bold"><%= current_user.user_type %></p>
    
                <div class="text-center">
                    <a class="btn btn-xs btn-primary no-link">Signed in</a>
                </div>
            </div>
        </div>
    
    
    
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table white-bg">
                <tbody>
                <tr>
                    <td class="td-notify"><center>
                        <button type="button" class="btn btn-primary m-r-sm btn-notify no-link"><%= ClinicalCase.count %></button>
                        <%= link_to "Total Cases",clinical_cases_path %>
                    </td></center>
                    <td class="td-notify"><center>
                        <button type="button" class="btn btn-primary m-r-sm btn-notify no-link"><%= current_user.clinical_cases.count %></button>
                        <%= link_to "My Cases",clinical_cases_path({me: true}) %>
                    </td></center>
                    <td class="td-notify"><center>
                        <button type="button" class="btn btn-primary m-r-sm btn-notify no-link"><%= @count %></button>
                       <%= link_to "Unread Messages",chats_path %>
                    </td></center>
                    <% if current_user.admin? or current_user.moderator? %>
                    <td class="td-notify"><center>
                        
                        <button type="button" class="btn btn-primary m-r-sm btn-notify no-link"><%= User.where(approved: false).count %></button>
                        <%= link_to "Unapproved Users", admin_path %>
                    </td></center>
                    <% end %>
                </tr>
                </tbody>
            </table>
        </div>
    </div>    
<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Histology Level <%= total %> </h5>

            </div>
            <div class="ibox-content">
                <div class="text-center">
                    <!--<canvas id="polarChart" height="140"></canvas>-->
                    <%
                        polarData = {
                            datasets: [{
                                data: ClinicalCase.where.not(histology_level: nil).group(:histology_level).group(:histology_level).count.to_h.values,
                                backgroundColor: [
                                    "#a3e1d4", "#dedede", "#b5b8cf"
                                ],
                                label: [
                                    "My Radar chart"
                                ]
                            }],
                            labels: ClinicalCase.where.not(histology_level: nil).group(:histology_level).count.to_h.keys
                        }
                        
                        polarOptions = {
                            segmentStrokeWidth: 2,
                            responsive: true,
                            height: 200,
                            scale: {
                            #   reverse: false,
                              ticks: {
                                min: 0,
                                max: ClinicalCase.count
                              }
                            }
                            
                        }

                    %>
                    <%= polar_area_chart polarData,polarOptions %>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--2nd column-->
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Histology Type <%= total %></h5>
            </div>
            <div class="ibox-content">
                <div>
                    <%
                        barData = {
                                 labels: ClinicalCase.all.group(:histology_type).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                                 datasets: [
                                     
                                     {
                                         label: "N",
                                         backgroundColor: 'rgba(26,179,148,0.5)',
                                         borderColor: "rgba(26,179,148,0.7)",
                                         pointBackgroundColor: "rgba(26,179,148,1)",
                                         pointBorderColor: "#fff",
                                         data: ClinicalCase.all.group(:histology_type).count.to_h.values
                                     }
                                 ]
                             };
                        
                             barOptions = {
                                 responsive: true,
                                 height: 140,
                                 scales: {
                                    yAxes: [{
                                        display: true,
                                        ticks: {
                                            suggestedMin: 0   
                                        }
                                    }]
                                }
                                
                                
                             }
                    %>
                    <!--<canvas id="barChart" height="140"></canvas>-->
                    <%= bar_chart barData, barOptions %>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Estrogen Receptors <%= total %></h5>

            </div>
            <div class="ibox-content">
                <div class="text-center">
                    <!--<canvas id="polarChart" height="140"></canvas>-->
                    <%
                        surgery_type_data = {
                            labels: ClinicalCase.all.group(:estrogen_receptors).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [{
                                 data: ClinicalCase.all.group(:estrogen_receptors).count.to_h.values,
                                 backgroundColor: ["#a3e1d4","#dedede","#b5b8cf"]
                             }]
                         } ;
                    
                    
                        surgery_type_options = {
                            responsive: true,
                            height: 140
                        };
                        

                    %>
                    <%= doughnut_chart surgery_type_data,surgery_type_options %>
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Progesterone Receptors <%= total %> </h5>

            </div>
            <div class="ibox-content">
                <div>
                    <!--<canvas id="doughnutChart" height="140"></canvas>-->
                    <%
                        surgery_type_data = {
                            labels: ClinicalCase.all.group(:progesterone_receptors).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [{
                                 data: ClinicalCase.all.group(:progesterone_receptors).count.to_h.values,
                                 backgroundColor: ["#a3e1d4","#dedede","#b5b8cf"]
                             }]
                         } ;
                    
                    
                        surgery_type_options = {
                            responsive: true,
                            height: 140
                        };
                        

                    %>
                    <%= doughnut_chart surgery_type_data,surgery_type_options %>
                    

                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>HER2 <%= total %></h5>

            </div>
            <div class="ibox-content">
                <div class="text-center">
                    <!--<canvas id="polarChart" height="140"></canvas>-->
                    <%
                        surgery_type_data = {
                            labels: ClinicalCase.all.group(:her2).count.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [{
                                 data: ClinicalCase.all.group(:her2).count.values,
                                 backgroundColor: ["#a3e1d4","#dedede","#b5b8cf"]
                             }]
                         } ;
                    
                    
                        surgery_type_options = {
                            responsive: true,
                            height: 140
                        };
                        

                    %>
                    <%= doughnut_chart surgery_type_data,surgery_type_options %>
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>KI67 <%= total %></h5>

            </div>
            <div class="ibox-content">
                <div>
                    <!--<canvas id="doughnutChart" height="140"></canvas>-->
                    <%
                        surgery_type_data = {
                            labels: ClinicalCase.all.group(:progesterone_receptors).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [{
                                 data: ClinicalCase.all.group(:progesterone_receptors).count.to_h.values,
                                 backgroundColor: ["#a3e1d4","#dedede","#b5b8cf"]
                             }]
                         } ;
                    
                    
                        surgery_type_options = {
                            responsive: true,
                            height: 140
                        };
                        

                    %>
                    <%= doughnut_chart surgery_type_data,surgery_type_options %>
                    

                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Surgery Type <%= total %> </h5>

            </div>
            <div class="ibox-content">
                <div>
                    <!--<canvas id="doughnutChart" height="140"></canvas>-->
                    <%
                        surgery_type_data = {
                            labels: ClinicalCase.all.group(:surgery_type).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [{
                                 data: ClinicalCase.all.group(:surgery_type).count.to_h.values,
                                 backgroundColor: ["#a3e1d4","#dedede","#b5b8cf"]
                             }]
                         } ;
                    
                    
                        surgery_type_options = {
                            responsive: true,
                            height: 140
                        };
                        

                    %>
                    <%= doughnut_chart surgery_type_data,surgery_type_options %>
                    

                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Sentinel Ganglion <%= total %></h5>
            </div>
            <div class="ibox-content">
                <div>
                <%
                    barData = {
                             labels: ClinicalCase.all.group(:sentinel_ganglion).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [
                                 
                                 {
                                     label: "N",
                                     backgroundColor: 'rgba(26,179,148,0.5)',
                                     borderColor: "rgba(26,179,148,0.7)",
                                     pointBackgroundColor: "rgba(26,179,148,1)",
                                     pointBorderColor: "#fff",
                                     data: ClinicalCase.all.group(:sentinel_ganglion).count.to_h.values
                                 }
                             ]
                         };
                    
                         barOptions = {
                             responsive: true,
                             height: 400,
                             scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        min: 0,
                                        max: ClinicalCase.count
                                        
                                    }
                                }]
                            }
                            
                            
                         }
                    %>
                <%= bar_chart barData, barOptions %>

                    <!--<canvas id="radarChart"></canvas>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Axillary Emptying <%= total %></h5>
            </div>
            <div class="ibox-content">
                <div>
                    <%
                    barData = {
                             labels: ClinicalCase.all.group(:axillary_emptying).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [
                                 
                                 {
                                     label: "N",
                                     backgroundColor: 'rgba(26,179,148,0.5)',
                                     borderColor: "rgba(26,179,148,0.7)",
                                     pointBackgroundColor: "rgba(26,179,148,1)",
                                     pointBorderColor: "#fff",
                                     data: ClinicalCase.all.group(:axillary_emptying).count.to_h.values
                                 }
                             ]
                         };
                    
                         barOptions = {
                             responsive: true,
                             height: 400,
                             scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        min: 0,
                                        max: ClinicalCase.count
                                        
                                    }
                                }]
                            }
                            
                            
                         }
                    %>
                <%= bar_chart barData, barOptions %>

                    <!--<canvas id="radarChart"></canvas>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Adjuvant  Chemotherapy <%= total %></h5>
            </div>
            <div class="ibox-content">
                <div>
                    <%
                    barData = {
                             labels: ClinicalCase.all.group(:adjuvant_chemotherapy).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [
                                 
                                 {
                                     label: "N",
                                     backgroundColor: 'rgba(26,179,148,0.5)',
                                     borderColor: "rgba(26,179,148,0.7)",
                                     pointBackgroundColor: "rgba(26,179,148,1)",
                                     pointBorderColor: "#fff",
                                     data: ClinicalCase.all.group(:adjuvant_chemotherapy).count.to_h.values
                                 }
                             ]
                         };
                    
                         barOptions = {
                             responsive: true,
                             height: 400,
                             scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        min: 0,
                                        max: ClinicalCase.count
                                        
                                    }
                                }]
                            }
                            
                            
                         }
                    %>
                <%= bar_chart barData, barOptions %>

                    
                    <!--<canvas id="radarChart"></canvas>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Adjuvant Radiotherapy <%= total %></h5>
            </div>
            <div class="ibox-content">
                <div>
                    <%
                    barData = {
                             labels: ClinicalCase.all.group(:adjuvant_radiotherapy).count.to_h.keys.map{|k| k==nil ? "Not answered": k},
                             datasets: [
                                 
                                 {
                                     label: "N",
                                     backgroundColor: 'rgba(26,179,148,0.5)',
                                     borderColor: "rgba(26,179,148,0.7)",
                                     pointBackgroundColor: "rgba(26,179,148,1)",
                                     pointBorderColor: "#fff",
                                     data: ClinicalCase.all.group(:adjuvant_radiotherapy).count.to_h.values
                                 }
                             ]
                         };
                    
                         barOptions = {
                             responsive: true,
                             height: 400,
                             scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        min: 0,
                                        max: ClinicalCase.count
                                        
                                    }
                                }]
                            }
                            
                            
                         }
                    %>
                <%= bar_chart barData, barOptions %>

                    
                    <!--<canvas id="radarChart"></canvas>-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>            
</div>


<!--top row -->
</div>