<div class="container-fluid container-top" style="">
  
  <div class="container">
      
      <div class="table-responsive">
      <table class="table white-bg border-left-right border-top-bottom">
        <thead>
          <tr>
            <th>Utilizador</th>
            <th>Última mensagem</th>
            <th>Quando</th>
            <th>Lida</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @chats.each do |chat| %>
            <tr class="inbx-tr">
              <% last_message  = chat.messages.order('created_at ASC').last if not chat.messages.blank? %>
              <td><%= chat.users.select{|u| u!=current_user}.first.name %> </td>
              <td><%= last_message.content if last_message %></td>
              <td> <%=last_message.created_at.to_s.split.first + " às " + last_message.created_at.to_s.split.second + " horas" if last_message %></td>
              <td><%= last_message.read ? "Sim" : "Não"  %></td>
              <td><%= link_to '<i class="fa fa-trash icon-chat" style="font-size: 19px" title="Eliminar"></i>'.html_safe, chat, method: :delete, data: { confirm: 'Deseja prosseguir com esta acção?' } if can? :destroy, chat %></td>
              <td><%= link_to '<i class="fa fa-reply icon-chat" style="font-size: 19px" title="Responder"></i>'.html_safe, chat, class: "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <br>
</div>
</div>
