<div class="navbar-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Alternar navegação</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand brnd" href="<%= root_path %>"><span><img src="/logo-clinical.png"></span>&nbsp;&nbsp;IPO de Coimbra</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="<%= (params[:controller]=="home" and params[:action]=="home") ? "active": nil %>">
                        <a href="<%= root_path %>"><i class="fas fa-home"></i>Home <span class="page-scroll sr-only">(current)</span></a>
                        <%#= link_to root_path, remote: true do %>
                          <!--Home-->
                          <!--<span class="sr-only">(current)</span>-->
                        <%# end %>
                      </li>
                      
                      <% if user_signed_in? %>
                        <% if current_user.admin? %>
                          <li class="<%= (params[:controller]=="home" and params[:action]=="admin") ? "active": nil %>">
                            <a class="page-scroll" href="<%= admin_path %>"><i class="fas fa-cogs"></i>Gestão de Utilizadores</a>
                          </li>
                        <% end %>
                        <li class="<%= (params[:controller]=="clinical_cases" and params[:action]=="index") ? "active": nil %>">
                          <a class="page-scroll" href="<%= clinical_cases_path %>"><i class="fas fa-briefcase-medical"></i>Casos Clínicos</a>
                        </li>
                        <li class="<%= (params[:controller]=="users" and params[:action]=="index") ? "active": nil %>">
                          <a class="page-scroll" href="<%= users_path %>"><i class="fas fa-users"></i>Todos os Utilizadores</a>
                        </li>
                        <li class="<%= (params[:controller]=="chats" and params[:action]=="index") ? "active": nil %>">
                          <a href="<%= chats_path %>"><i class="far fa-envelope-open"></i>Inbox (<div id="unread_count" style="display: inline-block;"><%= @count %></div>)</a>
                        </li>
                        <li class="<%= (params[:controller]=="notes" and params[:action]=="index") ? "active": nil %>">
                          <a class="page-scroll" href="<%= user_notes_path(current_user) %>"><i class="far fa-sticky-note"></i>Notas</a>
                        </li>
                        <li class="<%= (params[:controller]=="users" and params[:action]=="profile") ? "active": nil %>">
                          <a class="page-scroll" href="<%= profile_user_path(current_user) %>"><i class="far fa-user-circle"></i>Perfil</a>
                        </li>
                        
                        <li class="<%= (params[:controller]=="devise/registrations" and params[:action]=="edit") ? "active": nil %>">
                          
                          <a class="page-scroll" href="<%= edit_user_registration_path %>"><i class="fas fa-cog"></i>Definições</a>
                        </li>
                      <% end %>
                      
                        <% if user_signed_in? %>
                          <li>
                            <!-- <a class="log-button" href="<%= destroy_user_session_path %>" data-method="delete"> <i class="fas fa-sign-out-alt"></i>Sair</a>  -->
                            <a href="<%= destroy_user_session_path %>" data-method="delete"> <i class="fas fa-sign-out-alt"></i>Sair</a> 
                        <% else %>
                          <li class="<%= (params[:controller]=="devise/registrations" and params[:action]=="new") ? "active": nil %>">
                            <a class="" href="<%= new_user_registration_path %>"><i class="fas fa-user-plus"></i>Registar</a>
                        <% end %>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
</div>