<!DOCTYPE html>
<html>
  <head>
    <title>Clinical Management System</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%# unless params[:controller]=='home' && params[:action]=='admin' %>
      <%= render 'layouts/header' %>
      <% if notice || alert %>
        <div class="alert alert-info" role="alert">
          <strong>Info!</strong> <%= notice || alert %>
        </div>
      <% end %>
      <% unless params[:controller]=='home' && params[:action]=='admin' %>
          
      <% end %>
      <div class="main" style="min-height:85vh;">
        <%= yield %>
      </div>
    <% unless params[:controller]=='home' && params[:action]=='admin' %>

    <% end %>
      <%= render 'layouts/footer' %>
    
  </body>
</html>
